//overwrite bootstrap variables
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$font-family-default:  'karmillaregular', Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-default;
$border-radius-base:        0 !default;
$brand-primary: #844D9F;// purple
$link-color:       $brand-primary;

//custom variables
$pink: #E50C79;
$teal: #51C2BD;