{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "PUBSWEET_COMPONENTS": true,
    "CONFIG": true
  }
}
