$roundDiameter: 36px;

.button {
  border-radius: $roundDiameter/2 !important;
  height: $roundDiameter;
  width: $roundDiameter; //the styles created this way often go down in the styles chain.
  i {
    font-size: 20px;
    margin-left: -5px;
  }
}
