$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome.scss';

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

.bootstrap {
  @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
}
