$roundDiameter: 36px;

.button {
  margin-right: 5px !important;

  border-radius: $roundDiameter/2 !important;//the styles created this way often go down in the styles chain.
  width: $roundDiameter;
  height: $roundDiameter;
  i{
    font-size: 20px;
    margin-left: -5px;
  }
}
