.root {
  align-items: center;
  background: linear-gradient(
    #fff 0,
    #fff 1.1em,
    grey 1.1em,
    grey 1.2em,
    #fff 1.15em,
    #fff 2em
  );
  font-family: var(--font-interface);
  font-size: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
}

.count {
  border-radius: 50%;
  color: grey;
  font-size: 1em;
  font-weight: 600;
  padding-right: 0.5em;
  text-align: center;
}

.label {
  display: inline-block;
  padding: 0;
  text-shadow: 0.05em 0.05em 0 #fff, -0.05em -0.05em 0 #fff,
    -0.05em 0.05em 0 #fff, 0.05em -0.05em 0 #fff;
}
