.root {
  align-items: center;
  display: flex;
  font-family: var(--font-author);
  font-size: 1em;
  font-style: italic;
  letter-spacing: 1px;
  transition: all 2s;
}

.root.inline {
  display: inline-flex;
}

.root.inline:not(:last-child) {
  margin-right: 2.7em;
}

.root:not(.inline):not(:last-child) {
  margin-bottom: 0.5rem;
}

.root span {
  border-bottom: 1px solid transparent;
  font-size: 1.1em;
  transition: color 0.5s;
}

.root .input {
  display: none;
  margin-right: 0.25rem;
}

.root span::before {
  --local-border-size: 3px;
  --local-borderTwo-size: 1px;

  border: var(--local-border-size) solid white;
  box-shadow: 0 0 0 var(--local-borderTwo-size) currentcolor;
  content: ' ';
  display: inline-block;
  height: 0.7em;
  margin-right: 0.5em;
  transition: border 0.5s ease, background-size 0.3s ease;
  vertical-align: middle;
  width: 0.7em;
}

.author span {
  --font-local: var(--font-author);

  font-size: 1.3em;
  line-height: 1.8;
}

.root:hover span {
  color: var(--color-primary);
}

.root .input:checked:hover {
  --color-primary: grey;
}

.root:hover span::before {
  animation: checking 0.5s;
  background: var(--color-primary);
  border: var(--local-border-size) solid white;
  box-shadow: 0 0 0 var(--local-borderTwo-size) var(--color-primary);
}

.root input:checked + span {
  &::before {
    background: currentcolor;
    border: var(--local-border-size) solid white;
    box-shadow: 0 0 0 var(--local-borderTwo-size) currentcolor;
    transition: border 0.5s ease, background-size 0.3s ease;
  }
}

.root input:checked:hover + span::before {
  background: var(--color-primary);
}

@keyframes checking {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
