.root {
  font-size: 1em;
}

.inline {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 0.5em;
}

.inline .label {
  margin-right: 0.5em;
}

.opener {
  background: transparent;
  border: none;
  border-left: 2px solid lightgrey;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
}

.opener:hover {
  border-left: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.inline .opener {
  margin-bottom: -4px;
}

.root .inline {
  flex-direction: columns;
}

.root:not(.inline) .label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.main {
  position: relative;
}

.optionsContainer {
  position: absolute;
}

.open .opener {
  border-left: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.placeholder {
  color: #aaa;
  font-family: var(--font-interface);
  font-style: italic;
  font-weight: 400;
  text-transform: normal;
}

.opener:hover .placeholder {
  color: var(--color-primary);
}

.arrow {
  font-size: 50%;
  margin-left: 10px;
  transform: scaleY(1.2) scaleX(2.2);
  transition: transform 0.2s;
}

.open .arrow {
  transform: scaleX(2.2) scaleY(-1.2);
}

.options {
  background-color: white;
  border-bottom: 2px solid var(--color-primary);
  border-left: 2px solid var(--color-primary);
  left: 0;
  min-width: 0;
  opacity: 0;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  position: absolute;
  top: 0;
  transition: opacity 2s;
  width: 0;
  z-index: 10;
}

.open .options {
  min-width: 10em;
  opacity: 1;
}

.option {
  cursor: pointer;
  font-family: var(--font-author);
  padding: 10px;
  white-space: nowrap;
}

.option:hover {
  color: var(--color-primary);
}

.active {
  color: black;
  font-weight: 600; /* placeholder for the semibold */
}

.root.author {
  font-family: var(--font-author);
}
