.root {
  align-items: center;
  cursor: pointer;
  display: flex;
  transition: all 2s;
}

.root.inline {
  display: inline-flex;
}

.root.inline:not(:last-child) {
  margin-right: 2.7em;
}

.root:not(.inline):not(:last-child) {
  margin-bottom: 0.5rem;
}

.label {
  display: inline-block;
  font-family: inherit;
  font-size: 1em;
  font-style: italic;
}

.root:not(.checked):hover .label {
  color: var(--color-primary);
}

.input {
  display: none;
}

.pseudoInput {
  --local-border-size: 2px;
  --local-borderTwo-size: 1px;

  border: var(--local-border-size) solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--local-borderTwo-size) currentcolor;
  content: ' ';
  display: inline-block;
  height: 0.6em;
  margin-left: 0.2em;
  margin-right: 0.6em;
  transition: border 0.2s ease;
  vertical-align: center;
  width: 0.6em;
}

.root.checked .pseudoInput {
  background: currentcolor;
  box-shadow: 0 0 0 var(--local-borderTwo-size) currentcolor;
}

.root:not(.checked):hover .pseudoInput {
  animation: checking 0.5s;
  background: var(--color-primary);
  box-shadow: 0 0 0 var(--local-borderTwo-size) var(--color-primary);
}

/* Not used for now
.root.author {
  font-family: var(--font-author);
}

.root.author span {
  font-size: 1.3em;
  text-transform: lowercase;
}
*/

@keyframes checking {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
