/* stylelint-disable */

/* trying to reuse some parts frome pubsweet website: the mixins for the underlines for the tags */

$color: var(--color-primary);
$color-back: white;

@mixin realBorder($color, $colorback) {
  background: linear-gradient(
      $colorback 0,
      $colorback 1.2em,
      $color 1.2em,
      $color 1.25em,
      $colorback 1.25em,
      $colorback 2em
    )
    no-repeat;
  text-shadow: 0.05em 0.05em 0 $colorback, -0.05em -0.05em 0 $colorback,
    -0.05em 0.05em 0 $colorback, 0.05em -0.05em 0 $colorback;
}

.root {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.react-tags {
  /* clicking anywhere will focus the input */
  cursor: text;
  font-size: 1em;
  line-height: 1.2;
  padding: 6px 0 0 6px;
  position: relative;
}

.react-tags.is-focused {
  border-color: var(--color-primary);
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  border: 0 solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Vollkorn', serif;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
  margin: 0 1em 1em 0;
  padding: 0.1em 0.3em;

  @include realBorder(#aaa, white);
}

.react-tags__selected-tag::after {
  background: white;
  color: #aaa;
  content: '\2715';
  // margin: 0;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  height: 10px;
  margin-left: 8px;
  padding: 3px 0 0;
  text-shadow: none;
  width: 13px;

  &:hover {
    background: var(--color-primary);
  }
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  text-decoration: line-through;

  @include realBorder(transparent, white);

  &::after {
    color: var(--color-danger);
  }
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  margin: 0 1em 1em 0;

  /* prevent autoresize overflowing the container */
  max-width: 100px;
  padding: 0.1em 0.3em;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search input {
  border: 0;
  border-bottom: 1px dashed grey;
  color: black; // color: red;
  font-family: 'Vollkorn', serif;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;

  /* remove styles and layout from this element */
  margin: 0;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
  min-width: 15ch;
  outline: none;
  padding: 0;

  &::placeholder {
    font-family: 'Fira Sans Condensed', sans-serif;
    opacity: 0.5;
  }

  &:focus,
  &:hover {
    border-bottom: 1px dashed var(--color-primary);
  }
}

.react-tags__search input::-ms-clear {
  display: none;
}
