@import "../variables";

.hero {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding-bottom: 40px;
  border-bottom: 4px $pink solid;
}

.heroBackground {
  margin-bottom: 40px;
}

.blogContainer {
	border-right: 4px solid $teal;
	border-left: 4px solid $brand-primary;
	padding: 0 30px;
}

.blogFooter {
	text-align: center;
	padding-top: 50px;
}