@import '../variables';

.hero {
  border-bottom: 4px $pink solid;
  /* stylelint-disable */
  margin-bottom: 50px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 40px;
  /* stylelint-enable */
  padding-bottom: 40px;
  text-align: center;
}

.heroBackground {
  margin-bottom: 40px;
}

.blogContainer {
  border-left: 4px solid $brand-primary;
  border-right: 4px solid $teal;
  padding: 0 30px;
}

.blogFooter {
  padding-top: 50px;
  text-align: center;
}
