{
  "extends": [
    "standard",
    "standard-react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "CONFIG": false
  }
}

