$blue: #0d78f2;

.root {
  align-items: center;
  display: flex;
  flex-direction: row;

  .label {
    color: $blue;
    font-family: var(--font-interface);
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
  }

  &.reverseOrder {
    .label {
      margin-left: 10px;
      margin-right: 0;
      order: 2;
    }
  }
}
