.root {
  display: flex;
  justify-content: space-between;
  margin: 1rem;

  a {
    color: var(--color-primary);
    text-decoration: none;

    &::before {
      color: #aaa;
      display: inline-block;
      height: 1em;
      margin-right: 0.3em;
      text-align: center;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.section {
  display: flex;
}

.navLinks {
  display: flex;
  margin: 0 1rem;

  a {
    padding: 0 1rem;

    &:global(.active) {
      font-weight: bold;
    }
  }
}

.item {
  align-items: center;
  display: inline-flex;
  padding: 0 1rem;

  svg {
    margin-right: 0.3rem;
  }
}

.logo {
  font-weight: bold;
  text-decoration: none;

  &::before {
    content: '';
  }
}
