.stateListContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.itemContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.delimiter {
  margin-left: 5px;
  margin-right: 5px;
}
